@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Archivo";
}

img {
  width: 20px;
  height: 20px;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  padding: 2%;
  position: sticky;
  top: 0;
  z-index: 100;

  display: flex;

  background-color: rgba($color: #ffffff, $alpha: 1);
  box-shadow: 0 0px 9px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: fit-content;

  contents {
    width: 100%;
    display: flex;
    flex-direction: row;
    .logo {
      width: 100%;
      flex: 1;

      font-size: 40px;
    }
    div {
      width: 100%;
      flex: 1;

      display: flex;

      align-items: center;
      justify-content: flex-end;
      padding-right: 10%;

      #DropDownButton {
        border: none;
      }

      #DropDownMenuList {
        border: none;
        position: absolute;
        top: 0;
        left: 0;

        width: 100lvw;
        height: 100lvh;

        margin: auto auto;

        display: none;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        background-color: rgba($color: #fff, $alpha: 0.97);
        p {
          text-align: center;
          margin: 2%;
          font-size: xx-large;

          cursor: pointer;
          a {
            color: black;
            font-style: normal;
            font-weight: 300;
            text-decoration: none;
          }
        }
      }
    }
    img {
      background-color: white;
      display: block;
      width: 25px;
      height: 25px;
    }
  }
}

pageContect {
  display: flex;
  flex-direction: column;
}

hero {
  flex: 1;
  width: 100svw;
  height: 100svh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  heroContent {
    width: 80%;
    height: 80%;

    display: flex;
    flex-direction: column;

    justify-content: center;

    .intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        font-size: 1.2em;
      }
      h1 {
        font-size: 5em;
        padding-bottom: 10%;
      }
    }
    .desc {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .more {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 30px;
        height: 30px;
      }
    }
  }

  arrows {
    animation: bounce 1s ease-in-out infinite;
    a {
      border: none;
      background: none;
      display: flex;
      flex-direction: column;
      img {
        margin-top: -10px;
      }
    }
  }
}

AboutMe {
  display: flex;
  flex-direction: column;
  margin: 5%;
  left {
    .first {
      font-size: 40px;
    }
    h2 {
      margin-bottom: 5%;
    }
    p {
      font-size: 1.4em;
    }
    .ps {
      font-weight: 100;
      font-size: 1em;
    }
  }
  right {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 80svw;
      height: 80svw;
      aspect-ratio: 1/1;

      border-radius: 20px;
      box-shadow: 0 0px 9px rgba(0, 0, 0, 0.2);
    }
    p {
      text-align: center;
    }
  }
}

skills {
  display: flex;
  flex-direction: column;

  margin: 5% 5% 5% 5%;
  h4 {
    margin-bottom: 7.5%;
    font-size: 2em;
  }
  ul {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: center;

    li {
      margin: 1.5% 1.5% 1.5% 1.5%;
      list-style-type: none;
      width: 3.5em;
      height: 3.5em;

      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 3em;
        height: 3em;

        &:active {
          width: 3.5em;
          height: 3.5em;
        }
      }
    }
  }
}

Projects {
  display: flex;
  flex-direction: column;
  margin: 5% 5% 5% 5%;

  h2 {
    font-size: 40px;
    font-weight: 500;
  }

  projectCard {
    display: flex;
    flex-direction: column-reverse;

    background-color: white;
    border: 3px solid black;
    border-radius: 20px;

    box-shadow: 0 0px 9px rgba(0, 0, 0, 0.2);

    padding: 2.5%;
    margin-top: 5%;
    left {
      imgHolder {
        img {
          display: block;
          width: 100%;
          height: auto;
          border-radius: 20px;
        }
      }
    }
    right {
      rightContent {
        display: flex;
        flex-direction: column;

        h3 {
          text-align: center;
          font-size: 25px;
          font-weight: 400;
        }
        technologies {
          display: flex;
          flex-direction: row;

          justify-content: center;

          list-style: none;
          li {
            margin: 2% 2% 2% 2%;
          }
        }
        p {
          text-align: center;
          padding: 2%;
        }
        buttons {
          padding: 2%;

          display: flex;
          justify-content: center;
          button {
            margin: 0 5% 0 5%;

            background-color: black;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 2% 4% 2% 4%;

            box-shadow: 0 0px 6px rgba(0, 0, 0, 0.2);

            &:active {
              color: black;
              background-color: white;
              border: 1px solid black;
            }
          }
        }
      }
    }
  }
}

#contactText {
  display: none;
}

.mobileOnly {
  display: normal;
}
.pcOnly {
  display: none;
}

#contactIntro {
  width: 70%;
  text-align: center;
}

Contact {
  display: flex;
  flex-direction: column;

  width: 100%;

  justify-content: center;
  align-items: center;

  #contactIntro {
    font-size: 1.8em;
  }

  #contactIntro {
    margin-bottom: 7.5%;
  }

  ContactContent {
    width: 90%;
    height: 100%;

    display: flex;
    flex-direction: column;

    right {
      width: 100%;
      height: 100%;
      #ContactForm {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        div {
          display: flex;
          flex-direction: column;

          p {
            font-size: 1.25em;
            font-weight: 900;
          }
          #messageBox {
            width: 100%;
            height: 25svw;

            font-size: 1.25em;

            border-radius: 15px;
            border: 1px solid black;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

            padding: 0.5em;
          }

          input {
            width: 100%;
            border-radius: 15px;
            border: 1px solid black;
            font-size: 1.25em;

            padding: 2%;

            margin-bottom: 2%;

            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          }
        }
        button {
          width: 100%;
          height: 15svw;

          font-weight: 100;
          border: 1px solid black;
          border-radius: 15px;
          background-color: white;
          box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
          text-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
          margin-top: 10%;
          margin-bottom: 10%;

          color: black;
          p {
            font-size: 2.2em;
            color: #fff;
          }
        }
      }
    }
  }

  #emailAdress {
    font-size: 1.25em;
    font-weight: 600;

    text-decoration: underline;

    text-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
  }
}

footer {
  display: flex;
  flex-direction: row;

  align-items: center;

  margin-top: 4%;

  background-color: black;
  color: white;
  left {
    padding: 2%;
    width: 100%;
    p {
      text-align: center;
      font-size: 0.9em;
    }
  }
  img {
    filter: invert(1);
    -webkit-filter: invert(1);
  }
}

// Desktop media query

@media only screen and (min-width: 768px) {
  #contactText {
    display: normal;
  }
}
