* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Archivo";
}

img {
  width: 20px;
  height: 20px;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;

  display: flex;

  background-color: rgba($color: #000000, $alpha: 0.1);
  width: 100%;
  height: fit-content;

  contents {
    width: 100%;
    display: flex;
    flex-direction: row;
    .logo {
      width: 100%;
      flex: 1;

      font-size: 40px;
    }
    div {
      width: 100%;
      flex: 1;

      display: flex;

      align-items: center;
      justify-content: flex-end;
      padding-right: 10%;

      button {
        border: none;
      }

      div {
        position: absolute;
        top: 0;
        left: 0;

        width: 100dvw;
        height: 100dvh;

        margin: auto auto;

        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        background-color: rgba($color: #fff, $alpha: 0.95);
        p {
          text-align: center;
          margin: 2%;
          font-size: xx-large;

          cursor: pointer;
          &:active,
          &:hover,
          &:current {
            text-decoration: dashed;
            background-color: antiquewhite;
          }
        }
      }
    }
    img {
      display: block;
      width: 25px;
      height: 25px;
    }
  }
}

// Desktop media query
@media only screen and (min-width: 768px) {
  body {
  }
}
